.page-title{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)),url("https://i.ibb.co/zN4YcN5/logo.jpg");
    height: 10vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
   display:flex;
   justify-content: center;
   align-items: center;
    color:white;
    width:100vw;
    /* overflow-x: hidden; */
}